<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品详情页面</title>
</head>
<body>
<form action="/user/update" th:action="@{/user/update}" method="post">
<table border="1" width="800px" align="center">

    <input  type="hidden" name="id" th:value="${session.user.id}"></input>

    <tr align="center">
        <td>用户名:</td>
        <td><input type="text" name="uname" th:value="${session.user.uname}"></input></td>
    </tr>
    <tr align="center">
        <td>密码:</td>
        <td><input type="text" name="upass" th:value="${session.user.upass}"></input></td>
    </tr>
    <tr align="center">
        <td>姓名:</td>
        <td><input type="text" name="name" th:value="${session.user.name}"></input></td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <input type="submit" value="提交"></input>
        </td>
    </tr>

</table>

</form>
</body>
</html>